################################################################################
# Dragoon - Copyright (C) 2008 - Michael Levin
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
################################################################################

include game/map_city.cfg
include game/map_dungeon.cfg
include game/map_limbo.cfg
include game/map_ruins.cfg
include game/weapons.cfg

################################################################################
# Testing
################################################################################

box testTile {
        editor t
        mass 1
        elasticity 1
        impact entity
        impactOther entity
        sprite {
                file gfx/testtile.png
                tile
        }
}

box testWindow {
        editor t
        sprite {
                file gfx/window.png
                window { 64 64 }
        }
}

box testWindowTiled {
        editor t
        sprite {
                file gfx/test.png
                box { 0 0 32 32 }
                window { 8 8 }
                tile
        }
}

################################################################################
# Interface graphics
################################################################################
sprite cursor {
        file gfx/swordman.png
        box { 75 31 3 5 }
        mirror
}

################################################################################
# Player character
################################################################################

sprite playerHead {
        file gfx/dragoon.png
        box { 9 6 13 9 }
        center { 8 10 }
}

sprite playerBody {
        file gfx/dragoon.png
        box { 14 16 7 10 }
        center { 4 2 }
}

sprite playerBodyUp {
        file gfx/dragoon.png
        box { 25 4 8 10 }
        center { 3 2 }
}

sprite playerBodyDown {
        file gfx/dragoon.png
        box { 35 4 9 10 }
        center { 3 2 }
}

sprite playerBodyRun {
        file gfx/dragoon.png
        box { 25 16 8 9 }
        center { 3 2 }
        next { playerBodyRun-2 100 }
}

sprite playerBodyRun-2 {
        file gfx/dragoon.png
        box { 14 16 7 10 }
        center { 3 2 }
        next { playerBodyRun 100 }
}

sprite playerGlow {
        file gfx/dragoon.png
        box { 65 23 16 16 }
        scale 0.8
        flicker 0.6
        additive
}

