################################################################################
# Dragoon - Copyright (C) 2008 - Michael Levin
#
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
################################################################################

################################################################################
# Player character
################################################################################

playerHead {
        file gfx/testbot.png
        box { 41 6 12 13 }
        center { 6 11 }
}

playerBody {
        file gfx/testbot.png
        box { 44 21 8 8 }
        center { 4 -2 }
}

playerBodyUp {
        file gfx/testbot.png
        box { 55 6 8 8 }
        center { 4 -2 }
}

playerBodyDown {
        file gfx/testbot.png
        box { 64 6 8 8 }
        center { 4 -2 }
}

playerBodyRun {
        file gfx/testbot.png
        box { 54 21 8 8 }
        center { 4 -2 }
        next { playerBodyRun-2 100 }
}

playerBodyRun-2 {
        file gfx/testbot.png
        box { 44 21 8 8 }
        center { 4 -2 }
        next { playerBodyRun 100 }
}

################################################################################
# Weapons
################################################################################

repelCannon {
        file gfx/testbot.png
        box { 41 31 10 5 }
        center { 9 2.5 }
}

